.container {
  height: 800px;
  overflow: scroll;
  margin-top: 48px;
  display: grid;
  grid-template-rows: 150px;
  grid-gap: 30px;
  padding: 0px 35px;
  width: 75%;
  margin: 48px auto;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}

.react-fuzzy-filter__input {
  width: 25%;
  border: 0;
  box-shadow: 2px 2px 11px #818181;
  border-radius: 5px;
  height: 49px;
  padding-left: 15px;
  font-size: 20px;
}