.App {
  text-align: center;
}

h1 {
  color: #000;
  opacity: 0.7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4.3px;
  margin: 25px auto 25px;
  font-size: 73px;
  font-weight: 400;
}

h1 span {
  font-weight: 500;
}