.App {
  text-align: center;
}

h1 {
  color: #000;
  opacity: 0.7;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4.3px;
  margin: 25px auto 25px;
  font-size: 73px;
  font-weight: 400;
}

h1 span {
  font-weight: 500;
}

.saved {
  text-decoration: none;
  background-color: #000;
  opacity: .8;
  border-radius: 5px;
  padding: 13px;
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  position: absolute;
  top: 25px;
  right: 35px;
  text-decoration: none;
}